.contents {
  /* layout */
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  .content {
    /* layout */
    grid-column: 2;
    .container {
      background-color: light-dark(#e1e8f0, #222326);
      border: 1px solid light-dark(#c9cfd7, #2d2f33);
      border-radius: 13px;
      padding: 50px 100px;
      h1 {
        text-align: center;
      }
      h2 {
        font-size: 1.5rem;
        line-height: 2;
        margin-block: 30px;
        padding-left: 10px;
        border-color: light-dark(#050e1a, #e9eff7);
        border-top: 1px solid;
        border-left: 10px solid;
      }
    }
  }
}

@media (width <= 820px) {
  .contents {
    grid-template-columns: 1fr 8fr 1fr;
    .content {
      grid-template-columns: 1fr 20fr 1fr;
      .container {
        padding-inline: 15px;
        h1 {
          font-size: 2rem;
        }
      }
    }
  }
}
