:root {
  color-scheme: light dark; /* light-dark(light, dark) */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  font-family: Helvetica, sans-serif;
  background-color: light-dark(#e1e7f0, #16171a);
  color: light-dark(#050e1a, #e9eff7);
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

h2 {
  font-size: 1.7rem;
  font-weight: bold;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

p {
  line-height: 1.3;
  font-size: 1.2rem;
}

small {
  font-size: 1rem;
}

a {
  color: #fa3;
  text-decoration: underline;
}

pre {
  background-color: light-dark(#dfe6ed, #2d2f33);
  border: 1px solid light-dark(#c9cfd7, #2d2f33);
  border-radius: 13px;
  color: #fa3;
  font-family: monospace;
  padding: 10px;
}

ul {
  li {
    line-height: 2;
  }
}

/* Header Styles */
header {
  position: fixed;
  width: 100%;
  z-index: 1;
  .header-container {
    align-items: center;
    animation: fadeDown 1s ease-in-out;
    background-color: #38f;
    border-radius: 10px;
    box-shadow: 0 0 100px #38f8;
    display: flex;
    flex-wrap: wrap;
    min-height: 130px;
    margin: 15px;
    padding: 20px 10px;
    position: relative;
    h1 {
      color: #fffa;
      margin-inline: 20px;
    }
    ul {
      padding-left: 20px;
      display: flex;
      align-items: center;
      li a {
        padding-inline: 10px;
        color: #e9eff7;
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: bold;
        transition-duration: 0.3s;
        &:hover {
          color: #f38;
        }
      }
      /* Divider */
      li::before,
      li::after {
        content: "";
        display: inline-block;
        width: 1px;
        height: 1.5rem;
        background-color: #e9eff7;
        translate: 0 25%;
      }
    }
    .date {
      padding-left: 20px;
      color: #fa3;
    }
  }
}

.logo {
  background-color: #6af;
  border-radius: 50%;
  box-shadow: 0 0 5px #1118;
  position: absolute;
  width: 80px;
  height: 80px;
  right: 37px;
  margin-left: 80px;
  object-fit: cover;
  rotate: 0deg;
  transition: 0.3s ease;
  &:hover {
    rotate: -10deg;
    scale: 1.1;
  }
}

.top-space {
  padding-top: 197px;
}

/* print-msg Style */
.print-msg {
  padding-top: 57px;
  width: 100%;
  /* layout */
  align-items: center;
  gap: 10px;
  display: flex;
  justify-content: center;
  div {
    background-color: light-dark(#e1e7f0, #222326);
    border: 1px solid light-dark(#c9cfd7, #2d2f33);
    border-top-width: 10px;
    border-radius: 10px;
    color: light-dark(#050e1a, #e9eff7);
    font-size: 1.2rem;
    padding: 20px;
    text-align: center;
    width: 230px;
    margin-bottom: 20px;
    animation: zoomIn .3s ease-in-out;
  }
}

/* Buttons Style */
.buttons {
  margin-bottom: 50px;
  /* layout */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  button {
    background-color: light-dark(#e1e7f0, #222326);
    border: 1px solid light-dark(#c9cfd7, #2d2f33);
    border-radius: 50%;
    font-size: 1.5rem;
    height: 55px;
    margin: 10px;
    transition: box-shadow .3s ease;
    width: 55px;
    /* layout */
    align-items: center;
    display: flex;
    justify-content: center;
    &:hover {
      box-shadow: 0 0 7px light-dark(#22232618, #3fa8);
    }
    &:active {
      opacity: .7;
    }
  }
}

/* Footer Styles */
footer {
  background-color: #16171a;
  border-radius: 10px;
  bottom: 0;
  color: #e9eff7;
  height: 100px;
  width: 100%;
  /* layout */
  align-items: center;
  display: flex;
  justify-content: center;
}

/* Responsive Styles */
@media (width <= 820px) {
  body {
    -webkit-text-size-adjust: 100%;
  }
  /* Header Styles */
  header {
    ul li a {
      padding-inline: 5px;
    }
    h1 {
      font-size: 2rem;
    }
  }
  /* Main Styles */
  .top section {
    padding: 11px;
    h2 {
      border-left: 1px solid #f38;
      font-size: 1.5rem;
      line-height: 1.4;
      margin-bottom: 30px;
      text-align: left;
      padding-left: 10px;
    }
    p {
      font-size: 1rem;
      line-height: 1.4;
      columns: 1;
    }
  }
  .top,
  main {
    grid-template-columns: 1fr 5fr 1fr;
  }
  main .content {
    .skills img {
      margin-inline: 7px;
    }
    section {
      width: 300px;
      rotate: 0deg;
    }
  }
}

/* Phone */
@media (width <= 480px) {
  /* Header style */
  header .header-container {
    margin: 10px;
  }
  .logo {
    right: 16px;
  }
}

/* Dark mode style */
@media (prefers-color-scheme: dark) {
  header .header-container {
    background-color: #38fc;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    transition: 0.3s ease;
    &:hover {
      background-color: #38f;
    }
  }
}

/* Animation Styles */
@keyframes fadeZoomIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeDown {
  from {
    opacity: 0;
    translate: 0 -50px;
  }
  to {
    opacity: 1;
    translate: 0;
  }
}

@keyframes zoomIn {
  0% {
    scale: .3;
  }
  50% {
    scale: 1.2;
  }
  100% {
    scale: 1;    
  }
}