.not-found {
  width: 100%;
  /* layout */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  h1, p {
    line-height: 1.7;
    width: 100%;
    text-align: center;
  }
}
